file-connector/src/main/app/file-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<spring:beans>
		<spring:bean id="fileMover" name="FileMover" class="org.ram.FileMover" />
	</spring:beans>
	
	<db:mysql-config name="MySQL_Configuration" url="${mysql.driver.url}" doc:name="MySQL Configuration" />


	<!-- <file:connector name="synchronizedFileDispatcher" autoDelete="true" streaming="true" validateConnections="true" doc:name="SynchronizedFileDispatcher"> 
		<service-overrides dispatcherFactory="org.ram.SynchronizedFileMessageDispatcherFactory" /> </file:connector> -->

	<flow name="file-connectorFlow" processingStrategy="synchronous">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="600000" />
			<db:select config-ref="MySQL_Configuration" doc:name="Database">
				<db:parameterized-query><![CDATA[SELECT * FROM CUSTOMER]]></db:parameterized-query>
			</db:select>
		</poll>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
				%output application/csv
				---
				payload]]>
			</dw:set-payload>
		</dw:transform-message>
		<object-to-string-transformer doc:name="Object to String" />
		<set-variable variableName="filePattern" value="customers-#[function:dateStamp]" doc:name="setFilePattern" />
        <processor-chain doc:name="Processor Chain">
            <file:outbound-endpoint path="${file.path}" outputPattern="#[filePattern].tmp" responseTimeout="10000" doc:name="writeToTempFile"/>
            <logger message="#######################" level="INFO" doc:name="Logger"/>
            <invoke object-ref="fileMover" method="move" methodArguments="${file.path}/#[filePattern].tmp, ${file.path}" doc:name="moveToDestFile"/>
        </processor-chain>
	</flow>
</mule>
