request-reply/src/main/app/RequestReplyWithUntilSuccessful.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="RequestReplyWithUntilSuccessfulFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/untilsuccess" doc:name="HTTP"/>
        <set-payload value="#['Sample Payload']" doc:name="Set Payload"/>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="us.request" doc:name="VM"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="us.reply" doc:name="VM"/>
        </request-reply>
        <set-payload value="#['After Until Success']" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="RequestReplyWithUntilSuccessfulFlow1" processingStrategy="synchronous">
        <vm:inbound-endpoint exchange-pattern="one-way" path="us.equest" doc:name="VM"/>
        <until-successful objectStore-ref="simpleMemoryObjectStore" maxRetries="5" millisBetweenRetries="1000" doc:name="Until Successful">
            <processor-chain doc:name="Processor Chain">
                <logger message="Executing Until Successful with payload: #[payload]" level="INFO" doc:name="Logger"/>
                <component class="org.ram.BusinessComponent" doc:name="Java"/>
            </processor-chain>
        </until-successful>
    </flow>
</mule>
