xml-to-java-pojo/src/main/app/XmlToObjectUsingXpp3Driver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
	<flow name="XmlToObjectFlow">
		<http:listener config-ref="httpListener" path="/xml-to-object" allowedMethods="POST" doc:name="HTTP" />
		<mulexml:xml-to-object-transformer driverClass="com.thoughtworks.xstream.io.xml.Xpp3Driver" doc:name="XML to Object">
			<mulexml:alias name="customer" class="org.ram.Customer" />
		</mulexml:xml-to-object-transformer>
		<logger message="Customer name is: #[payload.name]" level="INFO" doc:name="logName" />
		<set-payload value="{&quot;name&quot;: &quot;#[payload.name]&quot;}" mimeType="application/json" doc:name="Set Payload" />
	</flow>
	<flow name="XmlToObjectFlow1">
		<http:listener config-ref="httpListener" path="/xml-2-object" allowedMethods="POST" doc:name="HTTP" />
		<set-variable variableName="rootElement" value="customer" doc:name="setXmlRootElement" />
		<custom-transformer class="org.ram.XmlToObject" doc:name="transformXmlToObject" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
	</flow>
</mule>
