xml-to-java-pojo/src/main/app/XmlToPojoUsingJAXB.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">

	<flow name="xmlToPojoUsingJAXB">
		<http:listener config-ref="httpListener" path="/jaxb" doc:name="receiveReq" />
		<set-payload value="#[app.registry.sampleXmlPayload]" doc:name="setSamplePayload" />
		<object-to-string-transformer doc:name="toString" />
		<mulexml:jaxb-xml-to-object-transformer jaxbContext-ref="jaxbContext" doc:name="toObject" returnClass="org.ram.jaxb.model.Person" />
		<foreach doc:name="forEachEmail" collection="#[payload.emailAddresses]">
			<logger message="email type: #[payload.type], email address: #[payload.address]" level="INFO" doc:name="logEmail" />
		</foreach>
		<set-payload value="Flow executed successfully" doc:name="setRes" />
	</flow>
</mule>
