for-each/src/main/app/ForeachPayload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<flow name="ForeachPayloadFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/foreach-payloadtest" doc:name="HTTP" />
		<json:json-to-object-transformer returnClass="java.util.List" doc:name="JSON to Object" />
		<foreach doc:name="For Each">
			<logger message="The referenced payload befoe splitting: #[rootMessage]" level="INFO" doc:name="Logger" />
			<json:object-to-json-transformer doc:name="Object to JSON" />
			<logger message="Payload number #[counter]: #[payload]" level="INFO" doc:name="Logger" />
		</foreach>
	</flow>
</mule>
