mule-filters/src/main/app/ExpressionFilter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="expressionFilter">
        <http:listener config-ref="httpListener" path="/expression/{name}" doc:name="receiveReq"/>
        <expression-filter expression="#[message.inboundProperties.'http.uri.params'.name.matches('^.+ram.+$')]" doc:name="filterRam"/>
        <logger message="You are accepted by the filter" level="INFO" doc:name="logInfo"/>
        <set-payload value="You are accepted by the filter" doc:name="setRes"/>
    </flow>
</mule>
